asgiref==3.11.1
Django==5.0.14
djangorestframework==3.17.1
node==2.0.0
odict==2.0.0
pillow==12.2.0
plumber==2.0.0
psycopg2-binary==2.9.12
setuptools==82.0.1
sqlparse==0.5.5
tzdata==2026.2
zope.component==7.1
zope.deferredimport==6.1.1
zope.deprecation==6.0
zope.event==6.1
zope.hookable==8.2
zope.interface==8.2
zope.lifecycleevent==6.0
zope.proxy==7.1
